.layout-navbar {
  backdrop-filter: blur(6px);
  background-color: rgba(var(--v-theme-background), 0.9) !important;

  .v-toolbar__content {

    .navbar-wrapper {
      position: relative;
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      inline-size: 100%;
      transition: inherit;
    }
  }
}
